myhealth-web/app/reference-data/PercentileReferenceData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="unit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="cm"/>
				<xs:enumeration value="kg"/>
				<xs:enumeration value="kg/m2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="HEIGHT"/>
				<xs:enumeration value="WEIGHT"/>
				<xs:enumeration value="HEAD CIRCUMFERENCE"/>
				<xs:enumeration value="BODY MASS INDEX"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="source">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="WHO"/>
				<xs:enumeration value="CDC"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="referenceData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="percentile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="percentile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="displayValue" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="minAge">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="300"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="maxAge">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="300"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="age" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="gender">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FEMALE"/>
				<xs:enumeration value="MALE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="code">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ageUnit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="months"/>
				<xs:enumeration value="years"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PercentileReferenceData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="source"/>
				<xs:element ref="gender"/>
				<xs:element ref="type"/>
				<xs:element ref="unit"/>
				<xs:element ref="minAge"/>
				<xs:element ref="maxAge"/>
				<xs:element ref="ageUnit"/>
				<xs:element ref="title"/>
				<xs:element ref="referenceData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
